<!DOCTYPE html>
<html lang="ru">
	<head>
		<!--Определяем заголовок вкладки в браузере-->
		<title>Авто - не роскошь, а средство передвижения!</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!--Подключаем стили из подкаталога проекта css-->
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body>
		<!--создаем меню нафигации на странице  -->
		<nav> 
			<a href ="main.html" title ="Переход на главную">Главная</a>
			<a href ="auto.html" title ="Наши автомобили">Наши автомобили</a>
			<a href ="contacts.html"  title ="Контакты">Контакты</a>
			<a href ="https://skillfactory.ru/" title ="Skillfactory">Skillfactory</a>
			<a href ="login_pass.html" title ="Вход">Вход</a>
		</nav>
		<br>
		<br>
		<br>
		<!-- Определяем содержимое заголовков первого уровня -->
		<h1>Самурай Авто</h1> 
		<h1>Аренда японских автомобилей</h1>
		<hr> <!--Добавим горизонтальный разделитель -->
		<!--Определяем содержимое заголовков второго уровня  -->			
		<h2> <b> Наши Самурайские Автомобили:</b></h2>
		<hr> <!--Добавим горизонтальный разделитель -->
		<!--Опеределяем содержание информационных блоков тегом div -->
		<div> 
			<img src="../static/Images/avto1.jpg" alt="Avto1" width="300" height="150">
			<br>
			<p><b> Автомобиль: Закат в Киото</b></p>
			<p> Мощность: 150 л.с.</p>
			<p>Вместимость: 5 самураев</p>
			<p>Год выпуска: 2020</p>
			<p>Стоимость аренды в сутки: 10000 Йен</p>
			<hr>
		</div>
		<div> 
			<img src="../static/Images/avto2.jpg" alt="Avto2" width="300" height="150">
			<br>
			<p><b> Автомобиль: Пролетая над Фудзи в цветах сакуры</b></p>
			<p> Мощность: 250 л.с.</p>
			<p>Вместимость: 2 самурая</p>
			<p>Год выпуска: 2022</p>
			<p>Стоимость аренды в сутки: 20000 Йен</p>
			<hr>
		</div>	
		<div> 
			<img src="../static/Images/avto3.jpg" alt="Avto3" width="300" height="200">
			<br>
			<p><b> Аутентичный транспорт Самурая</b></p>
			<p> Мощность: 1 л.с.</p>
			<p>Вместимость: 1 самурай</p>
			<p>Год выпуска: 2010</p>
			<p>Стоимость аренды в сутки: 50000 Йен</p>
			<hr>
		</div>			
	</body>
</html>