<!DOCTYPE html>
<html lang="ru">
	<head>
		<!--Определяем заголовок вкладки в браузере-->
		<title>Авто - не роскошь, а средство передвижения!</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!--Подключаем стили из подкаталога проекта css-->
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body>
		<!--создаем меню нафигации на странице  -->
		<nav> 
			<a href ="main.html" title ="Переход на главную">Главная</a>
			<a href ="auto.html" title ="Наши автомобили">Наши автомобили</a>
			<a href ="contacts.html"  title ="Контакты">Контакты</a>
			<a href ="https://skillfactory.ru/" title ="Skillfactory">Skillfactory</a>
			<a href ="login_pass.html" title ="Вход">Вход</a>
		</nav>
		<br>
		<br>
		<br>
		<!-- Определяем содержимое заголовков первого уровня -->
		<h1>Контактная информация</h1> 
		<!--  -->
		<hr> <!-- Добавим горизонтальный разделитель -->
		<!-- Определяем содержимое заголовков третьего уровня -->
		<h3>Вы можете связаться с нами:</h3>
		<!--Опеределяем содержание информационных блоков тегом div -->		
		<div>Телефон: <a href="https://skillfactory.ru/contacts?_ga=2.92146458.1042627897.1662193637-1583186157.1661688024#phoneform" target="_blank">+7 495 291-09-12, +7 958 577-04-17</a></div>
		<div>E-mail: <a href="mailto:info@skillfactory.ru" target="_blank">info@skillfactory.ru</a></div>
		<div>Youtube: <a href="https://www.youtube.com/channel/UClOTq6XN8g7-16QLGnZ6_EA" target="_blank">Skillfactory</a></div>
	</body>
</html>