<!DOCTYPE html>
<html lang="ru">
	<head>
		<!--Определяем заголовок вкладки в браузере-->
		<title>Авто - не роскошь, а средство передвижения!</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!--Подключаем стили из подкаталога проекта css-->
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body>
		<!--создаем меню нафигации на странице  -->
		<nav> 
			<a href ="main.html" title ="Переход на главную">Главная</a>
			<a href ="auto.html" title ="Наши автомобили">Наши автомобили</a>
			<a href ="contacts.html"  title ="Контакты">Контакты</a>
			<a href ="https://skillfactory.ru/" title ="Skillfactory">Skillfactory</a>
			<a href ="login_pass.html" title ="Вход">Вход</a>
		</nav>
		<br>
		<br>
		<br>
		<!-- Определяем содержимое заголовков первого уровня -->
		<h1>Самурай Авто</h1> 
		<h1>Аренда японских автомобилей</h1>
		<!--Определяем содержимое заголовков второго уровня  -->
		<hr> <!-- Добавим горизонтальный разделитель -->
		<h2> <b> Самурай поможет тебе насладиться с комфортом выбранной дорогой</b></h2>
		<h2> <b> У самурая нет цели, только путь... </b></h2>
		<hr> <!-- Добавим горизонтальный разделитель -->
		<br>
		<!--Определим содержимое тега Абзац  -->
		<p> <b> Самурай Авто для тех, кто не стоит на месте :</b></p>
		<br>
		<!-- Добавим горизонтальный разделитель -->
		<hr>
		<!--Добавим нумерованный список  -->
		<ol>
			<li> Ваш комфорт — забота Самурая </li>
			<li> Безупречная репутация. Достойный выбор. </li>
			<li> Средняя оценка пользователей 4,7</li>
		</ol>
	</body>
</html>